<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Reminder: Pending Task</title>
</head>

<body>
  <h2>Dear {{name}}! </h2>
  <div>
    I wanted to remind you about the pending task <b> {{taskName}} </b> assigned to you. It is essential that you
    complete this task as per the deadline to ensure the smooth progress. If you require any
    assistance or face any challenges, please don't hesitate to reach out. Your prompt attention to this matter is
    greatly appreciated.
  </div>
  <footer>
    Best regards,
    BalAsha Team
  </footer>
</body>

</html>